<form name="form.form" ng-submit="ok()">
    <div class="modal-body">
        <div class="form-group">
            <label for="personName">Your Name</label>
            <input type="text" class="form-control" id="personName" required="" ng-model="form.personName" autofocus>
        </div>
        <div class="form-group">
            <label for="birthplace">Your Birthplace</label>
            <input type="text" class="form-control" id="birthplace" ng-model="form.birthPlace" required="" typeahead="place as place.formatted_address for place in getPlaces($viewValue)" typeahead-editable="false">
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>